*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#edcdfe,#7161ce);
}
.card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    margin-left: 2em;
    margin-top: 1em;

}

/* card two */
.card-item {
    width: 500px;
    border: 1px solid #272727;
    
}

/* card one */
.card-one{
    width: 250px;
    padding: 2em;
    background-color: #3c4f9e;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

 #user-profile-img{
    margin: 0 auto;
    width: 100px;
  height: 100px;
    border: 1px solid rgb(121, 220, 22);
    border-radius: 50px;
    margin-top: 2em;
}

.name-email{
    border: 1px solid black;
}

.name-email #name{
    border: 1px solid black;
    font-size: 1remx;
    text-align: center;
}
.name-email #email{
    border: 1px solid black;
    font-size: 1rem;
    text-align: center;
}

.dashboard-container{
    margin-top: 2em;
}
.dashboard,.reports,.employees,.analysis,.messages,.setting{
    display: flex;
    gap: 0.25em;
    padding: 0.25em;
}
/* .dashboard #dashboard{
    

} */







/* card Two */
.card-two{
    background-color:#ffffff;
    width: 330px;
   
}
/* card Three */
.card-three{
    border-radius: 0px 10px 10px 0px ;
    background-color:#efefef ;
}


