* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.main-top-container {
  display: flex;
  justify-content: space-around;
  /* gap: 5em; */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 10px;
  /* border: 1px solid black; */
  color: #666;
  background-color: #ececec;
}

.main-top-container .top-container {
  /* padding: 5px; */
}

.main-top-container .top-container #top-span {
  padding: 5px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;

}

.main-top-container .top-container #top-para {

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
  /* margin-bottom: 15px; */
  font-family: "Poppins", sans-serif;

}


.top-container #top-para img {
  width: 20px;
  color: black;
}


.main-top-container .right-top-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.right-top-container #store-location {
  padding: 5px;
  list-style-type: none;
  color: #666;
  /* border: 1px solid black; */
  font-family: "Poppins", sans-serif;
}

.right-top-container .currency {
  padding: 5px;
  /* border: 1px solid black; */
}

.right-top-container .currency li {
  text-decoration: none;
  list-style-type: none;
}

.main-top-container #caret {
  width: 15px;
  height: 15px;
  /* border: 1px solid black; */
  align-content: center;
  font-family: "Poppins", sans-serif;
}

.right-top-container .language {
  padding: 5px;
  /* border: 1px solid black; */
}

.right-top-container .language li {
  text-decoration: none;
  list-style-type: none;
}


.icon-container .svg-icon {
  padding: 0.3em;
}

/* middle head nav styling */
.head-middle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  gap: 2em;
  margin-top: 10px;
  padding: 10px;
}

.head-middle-container .store-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 5px;
}

.head-middle-container .store-icon img {
  width: 35px;
  height: 35px;

}

.head-middle-container .navbar {
  display: flex;

}

.head-middle-container .nabar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 3em;
}

.head-middle-container .nabar-list li {
  list-style-type: none;

}

.head-middle-container .nabar-list li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--bs-black);
  font-size: 16px;

}

.head-middle-container .store-icon {
  display: flex;
  box-sizing: border-box;
  width: 15%;
}

#icon-svg {
  width: 10px;
}

/* home and login register container styling  */
.home-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 2.3em;
  background-color: #f0f4f6;
  font-family: "Poppins", sans-serif;
}

.home-register-container ul {
  display: flex;
  gap: 1em;
}

.home-register-container #home,
.active {

  list-style-type: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  color: #ff2f2f;
  margin-left: 10px;
  text-transform: capitalize;
  position: relative;
}

.home-register-container #home::before {

  position: absolute;
  width: 18px;
  height: 1px;
  background-color: #5b5858;
  content: "";
  right: -21px;
  top: 12px;
  z-index: 9;
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}


.home-register-container li a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}



/* <!-- This section For Login And Register --> */

.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2em;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-container .display-container {
  background: transparent none repeat scroll 0 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-register-container .h4-headings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-container #login {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ff0000;
  cursor: pointer;
  /* border: 1px solid black; */
}

.login-register-container #register {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 20px;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  cursor: pointer;
  /* border: 1px solid black; */
}

.input-container {
  width: 500px;
  /* display: none; */
}

.input-container .input-feilds {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 30px;
  color: #010225;
  gap: 0.9em;
  margin-top: 1em;

}

.input-container .input-feilds .input {
  border-radius: 4px;
  padding: 1em;
  border: none;
  border: 1px solid #ebebeb;
  margin-bottom: 1em;
}

.input-container .input-feilds input[type="email"] {
  padding: 1em;
  font-size: 0.9rem;
  color: #000;

}

.confirm-chbox-container {
  padding: 10px 0 19px;

}

.confirm-chbox-container a span {
  float: right;
  font-size: 15px;
  color: #010225;
  -webkit-transition: all 0.3s ease 0s;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

.input-container .confirm-chbox-container input[type="checkbox"] {
  height: 15px;
  margin: 0;
  position: relative;
  top: 2px;
  width: 17px;
  color: #010225;
}

.input-container .confirm-chbox-container #remeber-me {
  font-size: 15px;
  font-weight: 400;
  font-weight: 500;
}

.input-container .btn {
  margin-top: 1em;
  padding: 10px;
}

.input-container .btn #login-button {
  background-color: #fb0707;
  color: #fff;
  border: medium none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 13px 30px 13px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

/* style for register */



.input-reg-container {
  display: block;
  /* position: absolute; */
}



/* for register style */

 #register-button {
  background-color: #fb0707;
  color: #fff;
  border: medium none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 13px 30px 13px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
#login-toggle{
  display: none;
}
/* .input-register {
  display: block;
  display: none;
} */